html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bottom-nav {
    /*background-color: #333;*/
    bottom: 0;
    overflow: hidden;
}

    .bottom-nav a {
        float: left;
        display: block;
        margin: 0 20px 0 0;
        padding: 0px 0px 0px 0px;
        text-decoration: none;
        /*font-size: 17px;*/
        border-top: 3px solid red;
    }

        .bottom-nav a:hover {
            border-top: 3px solid white;
        }

        .bottom-nav a.active {
            border-top: 3px solid white;
        }
